@model EasyBank.Models.ProfitCalc
@using (Html.BeginForm("ProfitCalc", "Operation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>@Resources.Resource.CalculateMessage</p>
    @* <input type="number" name="number"  />*@
    @Html.ValidationSummary(true)
    <div class="display-field">
        @Html.EditorFor(model => model.Months)
    </div>

    <p>
        <input type="submit" value=@Resources.Resource.Enter />
    </p>

}
