@model EasyBank.Models.ProfitCalc
@using (Html.BeginForm("ProfitPlanningCalc", "Operation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>Enter number of months to calculate interests.</p>
    @* <input type="number" name="number"  />*@
    @Html.ValidationSummary(true)
    <div class="display-field">
        @Html.EditorFor(model => model.Months)
    </div>

    <p>
        <input type="submit" value=@Resources.Resource.Enter />
    </p>
}

