<h3>Total Credited Amount</h3>
<table>
    <tr>
        @foreach (var item in Model)
        {
            <th>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </th>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
        }
    </tr>
</table>

<br />
