@model List<EasyBank.Models.VirtualAccount>

<h3>Total Deposited Amount</h3>
<table>
    <tr>
        @foreach (var item in Model)
        {
            <th>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </th>
        }
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
        }
    </tr>
</table>

<br />