
{
    <label for=" file">@Resources.Resource.UploadImage:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    @Html.ActionLink(@Resources.Resource.FileUpload, "Protected", FormMethod.Post, new { enctype = "multipart/form-data" })
       @* <input type="submit" value="Upload" class="submit" />*@

}