@model EasyBank.Models.Image
<h2>@Resources.Resource.ClientsPhotoTitle</h2>

@{
    ViewBag.Title = "Clients passport";
}

@if (Model == null )
{  
        <h2>@Resources.Resource.NoPhoto</h2> 
} 
else
{
        var base64 = Convert.ToBase64String(Model.ImageContent);
    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
    
    <img style="width:180px" src="@imgSrc" />
  
}



