@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OperationError</title>
</head>
<body>
    <div>
        <h1> Operation error </h1>
        <h3> Error code: @ViewBag.ErrorCode</h3>
        <h4> Please contact System administrator or Operator</h4>
    </div>
</body>
</html>
