@model EasyBank.Models.ClientsImage

@{
    ViewBag.Title = @Resources.Resource.ClientsPassport;
}

@if (Model == null )
{  
       <div style="padding-left: 20px;padding-top: 55px">@Resources.Resource.NoPhoto</div>
} 
else
{
        var base64 = Convert.ToBase64String(Model.ImageContent);
    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
    
    <img style="width:180px" src="@imgSrc" />
  
}



