<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Style.css")
</head>
<body>
    This is page with layout
    <div id="PartialViews">
        @RenderBody()
    </div>
</body>
</html>
